InheritParentConfig: true
Checks: >-
  boost-*,
  bugprone-*,
  cert-*,
  clang-analyzer-*,
  cppcoreguidelines-*,
  google-*,
  hicpp-*,
  llvm-*,
  misc-*,
  modernize-*,
  performance-*,
  portability-*,
  readability-*,
  -google-readability-todo,
  -readability-identifier-length,
  -readability-avoid-const-params-in-decls,
  -readability-magic-numbers,
  -readability-function-cognitive-complexity,
  -llvm-header-guard,
  -google-runtime-references,
  -misc-non-private-member-variables-in-classes,
  -cppcoreguidelines-non-private-member-variables-in-classes,
  -cppcoreguidelines-avoid-magic-numbers,
  -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  -cppcoreguidelines-pro-type-reinterpret-cast,
  -modernize-pass-by-value,
  -hicpp-no-array-decay,
  -cert-msc30-c,
  -cert-msc50-cpp,
  -*-function-size,
  -*-easily-swappable-parameters,
  -*-owning-memory,
  -*-malloc,
